.woocommerce-page.single-product div.product div.images img {
    width: 100%;
    height: auto;
    border-style: none;
    border-width: 0;
}

.woocommerce .products .product .woocommerce-LoopProduct-link .xtra-product-thumbnail img {
    border: none;
    transition: all 800ms ease-out;
    margin-bottom: 0;
}

.woocommerce .products .product .woocommerce-LoopProduct-link .xtra-product-thumbnail {
    overflow: hidden;
    border-radius: 15px;
    max-width: 12rem;
    margin: 0 auto 1rem;
}

.woocommerce .products .product .woocommerce-LoopProduct-link .xtra-product-thumbnail:hover img {
    transform: scale(1.15);
}

.woocommerce ul.products li.product .woocommerce-LoopProduct-link .price {
    font-size: 1.1rem;
    position: relative;
    top: unset;
    right: unset;
    color: #fc9b0c;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: block;
}

.woocommerce ul.products li.product a.woocommerce-LoopProduct-link::after {
    content: "نمایش";
    position: relative;
    pointer-events: none;
    font-size: 1.2rem;
    background-color: #fc9b0c;
    padding: 0.5rem 1.25rem;
    border-radius: 5rem;
    display: inline-block;
    text-align: center;
    margin-top: 0.5rem;
    color: white;
}

.woocommerce ul.products li.product a.button.add_to_cart_button,
.woocommerce ul.products li.product a.button[class*="product_type_"] {
    top: 0.5rem;
    right: auto;
    left: 0.5rem;
    margin: 0;
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 15%);
    font-size: 0;
}

.rtl .woocommerce ul.products li.product a.button:before,
.woocommerce ul.products li.product a.button:before {
    font-weight: 500;
    font-size: 2rem;
    margin: 0 !important;
}

.woocommerce ul.products li.product a.button.add_to_cart_button:hover,
.woocommerce ul.products li.product a.button[class*="product_type_"]:hover {
    color: #fc9b0c;
    background-color: white;
    border: none;
}

.woocommerce-page.single-product .stock.out-of-stock {
    display: none;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-fixed {
    font-size: 0.rem;
    position: fixed;
    top: 0.25rem;
    left: 0;
    right: 0;
    width: 50rem;
    max-width: 80%;
    margin: auto;
    z-index: 100000000;
    transition: all 1s linear;
}

.alert-fixed.fadeOut {
    animation: fadeOut 1s 6.5s linear forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.inner_layout > header.page_header {
    margin-bottom: 150px;
}

.inner_layout [class^="header_onthe_cover"] .page_title,
.inner_layout [class*=" header_onthe_cover"] .page_title {
    padding-top: 0;
}

/* #page_content {
	top: 0 !important;
} */

#page_content .s12 .cz_is_blank {
	top: 0 !important;
}

/* .home [class^="header_onthe_cover"],
.home [class*=" header_onthe_cover"],
.woocommerce-account [class^="header_onthe_cover"],
.woocommerce-account [class*=" header_onthe_cover"],
.woocommerce-checkout [class^="header_onthe_cover"],
.woocommerce-checkout [class*=" header_onthe_cover"] { */
[class*=" header_onthe_cover"] {
	margin-top: 0.75rem !important;
}

/* .inner_shop_cart_header_2_right_1,
.shop_cart_header_2_right_7,
.elms_shop_cart {
    display: none;
} */

.woocommerce-checkout .woocommerce form .form-row {
	margin-bottom: 0.75rem;
}

.woocommerce-checkout .woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox + p:is(:empty),
.woocommerce-checkout .woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
    display: none;
}

.page_title, .header_onthe_cover .page_title {
	padding-bottom: 0 !important;
}

.inner_layout .page_content {
    margin-bottom: 0;
}

.woocommerce .page_content {
	margin-top: 0;
}

.single-product .inner_layout .page_content .sidebar_primary {
    display: none;
}

.single-product .inner_layout .page_content section.col.s9 {
    width: 100%;
}

.single-product .inner_layout .page_content section.col.s9 .xtra-single-product .woocommerce-product-gallery {
    width: 35%;
}

.single-product .inner_layout .page_content section.col.s9 .xtra-single-product .summary {
    width: 62%;
    text-align: center;
}

.single-product .inner_layout .page_content section.col.s9 .xtra-single-product .summary .cart {
    text-align: center;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 1rem auto !important;
}

.single-product .inner_layout .page_content section.col.s9 .xtra-single-product .summary .price {
    margin: 1rem auto !important;
}

.related ul.products li.product .xtra-product-thumbnail img {
    display: block !important;
    max-width: 14rem !important;
    margin: 1rem auto;
}

@media ( 768px <= width <= 1024px) {
    .header_1_right  .cz_elm.search_header_1_right_4 {
        margin-top: 0 !important;
        margin-bottom: 3rem;
    }
}

@media ( width <= 768px ) {
    .header_4_right .cz_elm .cz_mi_15260,
    .header_4_right .cz_elm {
        margin-top: 0 !important;
    }

    .woocommerce #page_content {
        top: -122px !important;
    }

    .woocommerce .xtra-single-product .theiaStickySidebar {
        position: relative !important;
        transform: none !important;
    }

    .single-product .inner_layout .page_content section.col.s9 .xtra-single-product .woocommerce-product-gallery {
        width: 100%;
        width: 70%;
        margin: 0 auto 1rem;
    }

    .single-product .inner_layout .page_content section.col.s9 .xtra-single-product .summary {
        width: 100%;
    }
}